# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.userprefs
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.idea/
.vscode/
*.apk
*.aab
*.unitypackage
sysinfo.txt
crashlytics-build.properties
